 * {
      margin: 0;
        padding: 0;
      }
      html,
      body {
        width: 100%;
        height: 100%;
      }
      #container {
        width: 100%;
        height: 100%;
        background: #a3c294;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      #panel {
        width: 80%;
        height: 80%;
        margin: auto;
        background: #e7e7e7;
        border-radius: 10px;
        overflow: hidden;
      }
      #ptop {
        width: 100%;
        height: 100px;
        background: #496e37;
        color: white;
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
        margin: auto;
      }
      .box {
        /* width: 10%; */
        display: flex;
        align-items: center;
        gap: 20px;
        justify-items: center;
      }
      .box h2 {
        font-size: large;
      }
      .score {
        width: auto;
        font-size: 20px;
        font-weight: 700;
        background: #ffffff;
        color: #518637;
        padding: 10px 20px;
        border-radius: 5px;
      }
      #pbtm {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 10px;
        gap: 20px;
        width: 100%;
        height: calc(100% - 100px);
        box-sizing: border-box;
        /* overflow: hidden; */
      }
      #pbtm > h2 {
        font-size: 2.5rem;
        background-color: blue;
        color: black;
        padding: 3px 15px;
        border-radius: 34px;
      }
      #pbtm .bubble {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #527f3c;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-weight: 500;
      }
      #pbtm .bubble:hover {
        cursor: pointer;
        /* opacity: 0.93; */
        background-color: rgb(50, 75, 50);
      }
      #ready {
        display: block;
        padding: 10px 30px;
        font-size: 2.2rem;
        border-radius: 50px;
        border: 2px solid;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        background: #332f2f;
        color: rgb(207, 207, 207);
        cursor: pointer;
      }
      #ready:hover {
        opacity: 0.83;
      }
      @media (max-width: 600px) {
        #panel {
          width: 90vw;
          height: 90%;
        }
        #ptop {
          gap: 0px;
        }
        .box {
          width: auto;
          gap: 5px;
          margin: auto;
        }
        .box h2 {
          font-size: medium;
        }
        .score {
          font-size: 18px;
          padding: 5px 10px;
        }
        #ready {
          padding: 8px 20px;
          font-size: 2rem;
        }
        #pbtm .bubble {
          width: 30px;
          height: 30px;
          font-weight: 500;
        }
        #pbtm > h2 {
          font-size: 2rem;
          padding: 3px 13px;
        border-radius: 34px;
        }
      }